# This workflow will publish a package to npm when a tag is pushed
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    tags:
      - "v*"

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - uses: actions/setup-node@v1
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - run: deno run -A scripts/build_npm.ts
      - run: npm publish
        working-directory: npm
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
